html {
    font-family: 'Open Sans', sans-serif;
    background-color: #ec4b00;
    background: url(https://tu.ac.th/uploads/news-tu/images/sep62/images322.jpg);
    background-size: 1500px 750px;
    background-repeat: repeat;
  }
body {
    width: 800px;
    margin: 0 auto;
    background-color: rgb(224, 224, 224);
    padding: 0 20px 20px 20px;
}
#S1{
    font-family: "Kanit",sans-serif,"Arial";
    font-weight: 800;
    font-size: 30px;
    letter-spacing: .05rem;
    line-height: 1.1;
    color:rgb(0, 0, 0);
    text-align:center;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
}
#S2 {
    font-family: "Kanit",sans-serif,"Arial";
    font-weight: 400;
    font-size: 20px;
    letter-spacing: .05rem;
    color:rgb(0, 0, 0);
    list-style: none;
    text-align:center;
}
#S3{
    font-family: "Kanit",sans-serif,"Arial";
    font-weight: 400;
    font-size: 20px;
    letter-spacing: .05rem;
    color:rgb(255, 255, 255);
    list-style: none;
    text-align:center;
}
#S4{
    font-family: "Kanit",sans-serif,"Arial";
    font-weight: 200;
    font-size: 13px;
    letter-spacing: .05rem;
    color:rgb(0, 0, 0);
    list-style: none;
    text-align:center;
}
#S5{
    font-family: "Kanit",sans-serif,"Arial";
    font-weight: 500;
    font-size: 33px;
    letter-spacing: .05rem;
    color:rgb(255, 0, 0);
    list-style: none;
    text-align:center;
}
#S6{
    font-family: "Kanit",sans-serif,"Arial";
    font-weight: 200;
    font-size: 20px;
    letter-spacing: .05rem;
    color:rgb(0, 0, 0);
    list-style: decimal;
    text-align:left;
    padding: 5px auto 5px auto;
}

#MenuBar{
    border: 0px solid rgb(255, 136, 0);
    padding: 25px;
    text-align:center;
    background-color:rgb(255, 136, 0);
    margin: auto;
}
#Cent{
    font-family: monospace;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background: #ddd;
    text-shadow: 2px 2px 1px #020202;
}

