html {
    font-family: 'Open Sans', sans-serif;
    background-color: #ddd;
}
#S1{
    font-family: "Kanit",sans-serif,"Arial";
    font-weight: 800;
    font-size: 30px;
    letter-spacing: .05rem;
    line-height: 1.1;
    color:rgb(0, 0, 0);
    text-align:center;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
}
#S2 {
    font-family: "Kanit",sans-serif,"Arial";
    font-weight: 400;
    font-size: 20px;
    letter-spacing: .05rem;
    color:rgb(0, 0, 0);
    list-style: none;
    text-align:center;
}
#S3{
    font-family: "Kanit",sans-serif,"Arial";
    font-weight: 400;
    font-size: 20px;
    letter-spacing: .05rem;
    color:rgb(255, 255, 255);
    list-style: none;
    text-align:center;
}
#S4{
    font-family: "Kanit",sans-serif,"Arial";
    font-weight: 200;
    font-size: 13px;
    letter-spacing: .05rem;
    color:rgb(0, 0, 0);
    list-style: none;
    text-align:center;
}
#S5{
    font-family: "Kanit",sans-serif,"Arial";
    font-weight: 500;
    font-size: 33px;
    letter-spacing: .05rem;
    color:rgb(255, 0, 0);
    list-style: none;
    text-align:center;
}
#S6{
    font-family: "Kanit",sans-serif,"Arial";
    font-weight: 200;
    font-size: 20px;
    letter-spacing: .05rem;
    color:rgb(0, 0, 0);
    list-style: decimal;
    text-align:left;
    padding: 5px auto 5px auto;
}

#MenuBar{
    border: 0px solid rgb(255, 136, 0);
    padding: 25px;
    text-align:center;
    background-color:rgb(255, 136, 0);
    margin: auto;
}
#Cent{
    font-family: monospace;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.L {
    float: left;
    width: 35%;
    overflow: hidden;
}
.R {
    float: left;
    width: 60%;
}
.MyPic {
    float: left;
    width: 80%;
    padding: 10px 15px;
    margin-top: 7px;
    overflow: hidden;
}
.MyVid {
    float: left;
    width: 80%;
    padding: 10px 15px;
    margin-top: 7px;
    overflow: hidden;
}
.MyName {
    background-color: rgb(85, 85, 85);
    color: #ffffff;
    float: left;
    width: 100%;
    padding: 10px 15px;
    margin-top: 7px;
    border: 2px solid #000000;
}
.MyEveryDay {
    background-color: rgb(226, 226, 226);
    color: #000000;
    float: left;
    width: 100%;
    padding: 10px 15px;
    margin-top: 14px;
    border-left: 2px solid #000000;
    height: 700px;
}

@media only screen and (max-width:1000px) {
    .L {
        width: 100%;
    }
    .R {
        width: 100%;
    }
    .MyPic {
        float: left;
        width: 45%;
        padding: 15px 15px;
        margin-top: 7px;
        overflow: hidden;
        
    }
    .MyVid {
        float: left;
        width: 45%;
        padding: 15px 15px;
        margin-top: 7px;
        overflow: hidden;
    }

  }
@media only screen and (max-width:600px) {
    .L {
        width: 100%;
    }
    .R {
        width: 100%;
    }
    .MyPic {
        float: none;
        width: 80%;
        padding: 0;
        margin-top: 0;
        margin-left: 10%;
        margin-right: 10%;
    }
    .MyVid {
        float: none;
        width: 80%;
        padding: 0;
        margin-top: 0;
        margin-left: 10%;
        margin-right: 10%;
    }
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
  
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background: #ddd;
    text-shadow: 2px 2px 1px #020202;
}

